@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


/***
color scheme:
background: rgba(43,45,44,255)
interactive: rgba(217,173,6,255)
background-dark: rgba(217,173,6,255)
background-light: rgba(62,64,63,255)
***/

*{
    transition: 1s;
}
html{
    font-family: "Rubik", sans-serif;
    font-size: 10px;/* 1rem = 10px */
    scroll-behavior: smooth;
    color: white;
}
body{
    font-size: 1.6rem;
    background-color: rgb(43,45,44,255);
}

a{
    text-decoration: none;
    display: block;
    color: rgba(217,173,6,255);
}
img{
    max-width: 100%;
}





/*NAWIGACJA MOBILE*/
.burger{
    background-color: #222;
    color: #fff;
    font-size: 3rem;
    padding: .5rem .8rem .7rem;

    position: fixed;
    top: 2rem;
    right: 2rem;

    cursor: pointer;
    display: none;
}

.nakladka{
    background-color: rgba(0,0,0,.8);
    z-index: 1;
    position: fixed;
    width: 0;
    right: 0;
    overflow: hidden;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nakladka ol{
    width: 100%;
}
.nakladka ol a{
    text-align: center;
    padding: 3vh 0;
    margin-bottom: 1vh;
    color: #fff;
}
.nakladka ol a:hover{
    background-color: rgba(62,64,63,255);
    color: white;
}

.zamknijX{
    background-color: #fff;
    color: #000;
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 4rem;
    padding: 0 .9rem .1rem;
}


/*NAWIGACJA DESKTOP*/
nav{
    background-color: rgba(0,0,0,.4);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    position: sticky;
    top: 0;
}
nav ol{
    display: flex;
    gap: 2vw;
    color: transparent; /* hide nav ol icons */
}
nav ol li{}
nav ol li a{
    color: #fff;
    padding: 1rem;
}
nav ol li a:hover{
    background-color: rgba(62,64,63,255);
    color: white;
}
div .button-row {
    display: flex;
    justify-content: space-between; /* Optional: Adds space between the buttons */
}


/* dostosowanie do szerokości mobilnej (smartfon) */
@media all and (max-width:600px){
    .burger{
        display: block;
    }
    nav{
        display: none;
    }
    section{
        min-height: 100vh;
        scroll-margin-top: 0;
    }
    #howICanHelp .zawartosc{
        flex-direction: column;
        gap: 6rem;
    }
}



#aboutMe{}
#aboutMe .zawartosc{}
#logo{}
#aboutMe h1{}
#aboutMe a{}
#aboutMe a:hover{}

#howICanHelp{
    background-color: #eee;
}
#howICanHelp .zawartosc{
    display: flex;
    gap: 2rem;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-wrap: wrap;
}
#howICanHelp article{
    flex: 1 1 250px;
}
#howICanHelp article img{}
#howICanHelp article h2{}
#howICanHelp article p{}

#myExperience{}
#myExperience h3{}

#myProjects{
    background-color: #aaa;
}
#contactInfo{}

#stopka{
    background-color: black;
    color: white;
}

#aboutMe .zawartosc {
    text-align: center;
}