@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/***
color scheme:
background: #2b2d2c
interactive: #d9ad06
background-dark: #323232
background-light: #3e403f
***/

*{
    transition: 1s;
}
html{
    font-family: "Rubik", sans-serif;
    font-size: 10px;/* 1rem = 10px */
    scroll-behavior: smooth;
    color: white;
}
body{
    font-size: 1.6rem;
    background-color: #2b2d2c
}

a{
    text-decoration: none;
    display: block;
    color: #d9ad06
}
img{
    max-width: 100%;
}
.zawartosc {
    padding-bottom: 2rem;
    align-items: center;/*wyśr. na wys.*/
    justify-content: center;/*wyśr. na szer.*/
}
hr {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: rgba(217,173,6,255);
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: rgba(217,173,6,255);
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

section {
    scroll-margin-top: 10rem;/*menu nie zasłania treści sekcji*/
}

h4 {
    color: dimgray;
    text-align: center;
}





/*NAWIGACJA MOBILE*/
.burger{
    background-color: #222;
    color: #fff;
    font-size: 3rem;
    padding: .5rem .8rem .7rem;

    position: fixed;
    top: 2rem;
    right: 2rem;

    cursor: pointer;
    display: none;
}

.nakladka{
    background-color: rgba(0,0,0,.8);
    z-index: 1;
    position: fixed;
    width: 0;
    right: 0;
    overflow: hidden;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nakladka ol{
    width: 100%;
}
.nakladka ol a{
    text-align: center;
    padding: 3vh 0;
    margin-bottom: 1vh;
    color: #fff;
}
.nakladka ol a:hover{
    background-color: rgba(62,64,63,255);
    color: white;
}

.zamknijX{
    background-color: #fff;
    color: #000;
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 4rem;
    padding: 0 .9rem .1rem;
}


/*NAWIGACJA DESKTOP*/
nav{
    background-color: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: sticky;
    top: 0;
}
nav ol{
    display: flex;
    gap: 2vw;
    color: transparent; /* hide nav ol icons */
}
nav ol li{}
nav ol li a{
    color: #fff;
    padding: 1rem;
}
nav ol li a:hover{
    background-color: rgba(62,64,63,255);
    color: white;
}
div .button-row {
    display: flex;
    justify-content: space-between;
}

#howICanHelp{
    background-color: #eee;
}
/*#howICanHelp .zawartosc{*/
/*    display: flex;*/
/*    gap: 2rem;*/
/*    flex-direction: row;*/
/*    flex-wrap: nowrap;*/
/*}*/
/*#howICanHelp article{*/
/*    flex: 1 1 250px;*/
/*}*/


/*#myProjects{*/
/*    background-color: #aaa;*/
/*}*/
#contactInfo{}

#stopka{
    background-color: rgba(0,0,0,0.9);
    text-align: center;
}

#aboutMe .zawartosc {
    text-align: center;
    padding: 0;
}


/*how can I help */
#howICanHelp .zawartosc {
    background-color: rgba(43,45,44,255);
    padding-left: 4rem;
    padding-right: 4rem;
}
#howICanHelp .row1 {
    text-align: right;
}
#howICanHelp .row2 {
    text-align: left;
}
#howICanHelp .row3 {
    text-align: right;
}

#mySkills .column {
    float: left;
    width: 33.33%;
    text-align: center;
}

#mySkills .zawartosc:after {
    content: "";
    display: table;
    clear: both;
}


.contactInfo {
    display: flex;
    justify-content: center;
}

.contactInfo a {
    display: inline-block;
}


/* dostosowanie do szerokości mobilnej (smartfon) */
@media all and (max-width:600px){
    .burger{
        display: block;
    }
    nav{
        display: none;
    }
    section{
        min-height: 5vh;
        scroll-margin-top: 0;
    }
    #howICanHelp .zawartosc{
        flex-direction: column;
        gap: 6rem;
    }
    .column {
        width: 100%;
    }
    .table {
        display: none;
    }

    /*why does text-align align images???*/
    #contactInfo .zawartosc {
        text-align: center;
    }

    #contactInfo .mobile {
        display: block;
    }

    input[type="text"],
    input[type="email"] {
        width: 33%;
        height: 25px;
    }

    button {
        width: 33%;
    }

    input[type="checkbox"] {
        transform: scale(1.5);
    }

}

.imageshow-container {
    max-width: 400px;
    /*position: relative;*/
    margin: auto;
}

.imageClass img {
    width: 50%;
}


/* Adding fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* Defining the dot styles */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: rgba(217,173,6,255);
}

#contactInfo .zawartosc .table {
    margin-left: auto;
    margin-right: auto;
    /* apparently spacing it left and right the same amount does not center it*/
    padding-left: 5rem;
}